.comment-section {
  margin-top: 80px;
  padding: 50px;
   background: linear-gradient(180deg, #0f172a, #111827);
  border-radius: 28px;
  box-shadow: 0 30px 60px rgba(15, 23, 42, 0.06);
}

/* Title */

.comment-section h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
  color: white
}

.comment-form {
  margin-bottom: 45px;
}

.comment-form textarea {
  width: 100%;
  min-height: 110px;
  padding: 18px 20px;
  border-radius: 16px;
  border: 1px solid #e2e8f0;
  font-size: 14px;
  background: white;
  resize: none;
  transition: all 0.3s ease;
}

.comment-form textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.08);
}

.comment-item {
  position: relative;
  background: white;
  padding: 22px 24px;
  border-radius: 20px;
  margin-bottom: 24px;
  border: 1px solid #eef2f7;
  transition: all 0.3s ease;
}

.comment-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 45px rgba(15, 23, 42, 0.08);
}

/* Header */

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.comment-header strong {
  font-size: 15px;
  font-weight: 600;
  color: #0f172a;
}

.comment-header span {
  font-size: 12px;
  color: #94a3b8;
}

/* Comment Text */

.comment-item p {
  font-size: 14px;
  line-height: 1.6;
  color: #334155;
  margin-bottom: 14px;
}

.reply-btn {
  background: none;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: #2563eb;
  cursor: pointer;
  transition: all 0.2s ease;
}

.reply-btn:hover {
  opacity: 0.7;
}

.reply-box {
  margin-top: 18px;
}

.reply-box textarea {
  width: 100%;
  min-height: 80px;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #e2e8f0;
  font-size: 13px;
  resize: none;
  margin-bottom: 10px;
  background: #f8fafc;
}

.reply-box textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.08);
}

/* Nested Replies */

.reply-list {
  margin-top: 25px;
  padding-left: 30px;
  border-left: 2px solid #e2e8f0;
}

.reply-list .comment-item {
  background: rgba(37, 99, 235, 0.08);
  border: 1px solid #657aa4;
  box-shadow: none;
}

.btn.primary {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  border-radius: 14px;
  padding: 10px 18px;
  font-size: 13px;
  transition: all 0.3s ease;
}

.btn.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(37, 99, 235, 0.3);
}

.btn.small {
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 10px;
}
.comment-actions {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.view-replies-btn {
  background: none;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: #64748b;
  cursor: pointer;
  transition: 0.2s ease;
}

.view-replies-btn:hover {
  color: #2563eb;
}